.home-container{

    animation: slideHome 1s ease-in-out forwards;
}

@keyframes slideHome {
     
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}